# Auto detect text files and perform LF normalization
* text=auto
*.psd filter=lfs diff=lfs merge=lfs -text
save[[:space:]]files/model.h5 filter=lfs diff=lfs merge=lfs -text
save[[:space:]]files/*.h5 filter=lfs diff=lfs merge=lfs -text
data[[:space:]]files[[:space:]]preparing/zomato.csv filter=lfs diff=lfs merge=lfs -text
data[[:space:]]files[[:space:]]preparin/zomato.csv filter=lfs diff=lfs merge=lfs -text
